<!DOCTYPE html>
<html>
<head>
  <title>Admin ManageableContentExampleApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Admin</title>
</head>
<body>

<%= yield %>

</body>
</html>
